<div class ="newDiv">
  <h1>{{userId}}</h1>
  <h2>Favorite Questions</h2>
</div>

<div class="newDiv" *ngIf="userId == null">
  <form >
    <p>Please input username</p>
    <input type="text" name="userId" #userId/>
    <button class="b"(click)="clickme(userId.value)">Login</button>
  </form>
</div>


<div class="newDiv" *ngFor="let f of favorite">
  <button class="b3" (click)="clickme3(userId, f.id); getFavorites(userId)" style="background-color: transparent;">X</button>
  <h3>{{f.text}}</h3>
  <h5>Answer: {{f.answer}}</h5>
</div>



