<div class ="newDiv">
  <h1>{{userId.value}}</h1>
  <h2>Favorite Questions</h2>
</div>

<div class="newDiv">
  <form >
    <p>Please Input Username to Switch User or Login</p>
    <input type="text" name="userId" #userId/>
    <button class="b"(click)="clickme(userId.value); getUserId(userId.value)">Login</button>
  </form>
</div>


<div class="newDiv" *ngFor="let f of favorite">
  <button class="b3" (click)="clickme3(f.id); getFavorites(userId.value)" style="background-color: transparent;">X</button>
  <h3>{{f.text}}</h3>
  <h5>Answer: {{f.answer}}</h5>
</div>



