html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin: 0px;
  min-height: 100vh;
  min-width: 100vh;
  padding: 0px;
  background: radial-gradient( #a9ecee, #3793af);
  color: rgba(0, 0, 0, 0.514)
}

.newDiv {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.308);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  align-content: center;
  padding: 5px;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  font-weight: bolder;
}

img {
  border: 3px solid rgba(0, 0, 0, 0.514);
}

ul {
  position: relative;
  animation: moveit 3s infinite;
  list-style-type: none;
}

@keyframes moveit {
  0% {
    left: 0px;
    top: 10px;
  }
  25%{
      left: 50px;
      top: 20px;
  }

  50% {
    left: 100px;
    top: 10px;
  }

  75% {
    top: 0px;
    left: 50px;
  }

  100% {
    left: 0px;
    top: 10px;
  }
}


label {
  padding: 3px;
}

.b {
  background-color: rgba(255, 255, 255, 0.438);
  opacity: 75%;
  border: solid 1px;
  border-radius: 5px;
}

  .b:hover {
    opacity: 100%;
  }

.b2 {
  float: right;
  background-color: none;
  opacity: 0%;
  border: none;
  border-radius: 5px;
}

  .b2:hover {
    opacity: 100%;
  }


.favButton {
  float: left;
  height: 20px;
  width: auto;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  opacity: 100%;
}

a:link {
  color: rgb(2, 0, 5);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgba(0, 0, 0, 0.548);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgba(0, 12, 124, 0.61);
  background-color: transparent;
  text-decoration: underline;
}

.b3 {
  float: right;
  background-color: none;
  opacity: 75%;
  border: none;
}

  .b3:hover {
    opacity: 100%;
  }
